/*Form CSS*/
.questions-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    background: whitesmoke;
    text-align: center;
}
/*#ECF5FF*/
.questionBlock {
    margin-bottom: 24px;
}

.questionLabel {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
    font-size: 1.1rem;
}

.aBox {
    width: 100%;
    max-width: 700px;
    padding: 12px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background: white;
    outline: #0056b3;
}

.aBox:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.aBox:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
    transform: translateY(-3px);
}

.charCounter {
    margin-top: 4px;
    font-size: 12px;
    color: black;
}

.submitButton {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    background: #F1DADE;
    border: none;
    color: #000;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    outline: 1px solid #ccc;
    margin-bottom: 15px;
}

.submitButton:hover {
    background: #E2B4BD;

}

.filterQuestionBlock {
    margin-bottom: 24px;
}

.filterQuestionLabel {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    color: #333;
    font-size: 1.1rem;
}

/*Results CSS*/
.resultBox {
    position: relative;
    max-width: 90%;
    max-height: 100%;
    min-width: 200px;
    min-height: 200px;
    margin: 2rem auto;
    background-image: url("buddyresultbackground.jpg");
    background-position: center;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align: center;
    z-index: 10;
    color: #000;
    font-size: 20px;
}

.eStyle {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: palevioletred;
    font-size: 1.1rem;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem;
    background: whitesmoke;
    border: 5px solid black;
    border-radius: 12px;
    max-width: 900px;
    margin: 2rem auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.resultLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 200px;
    flex-shrink: 0;
}

.resultRight {
    flex: 1;
    min-width: 0;
}